/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.background {
    background: url("../assets/oldPaper.png");
    background-size: 100%;
}

.app-panels > * {
    width: 320px;
    background-color: #EAEAEA;
    /*border-left: 1px solid #000; */
    box-shadow: -4px -4px 4px rgba(0,0,0,0.3);
}

/* on small devices, make each panel fit to the app width */
@media all and (max-width: 800px) {
    .app-panels > * {
        min-width: 100%;
        max-width: 100%;
    }
}

.toolbar-spinner {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: url("../assets/spinner.gif") no-repeat 0 0;
}

/* MAIN VIEW */
.verse-view {
    margin: 10px;
    font-size: 1.2em;
}

.verse-view:last-child {
    padding-bottom: 10px;
}

.module-picker {
    width: 45px;
}

.modules-button {
    background-color: #934A15;
}

.center {
    text-align: center;
}

.chapter-nav {
    position: absolute;
    top: 45%;
    border-radius: 10px;
    background-color: rgba(205,133,63,0.5);
    font-weight: bold;
}

.chapter-nav-left {
    padding: 10px;
    margin-right: 10px;
    min-width: 105px;
}

.chapter-nav-right {
    padding: 10px;
    margin-left: 10px;
}

.biblez-bc-popup {
    height: 450px;
    width: 465px;
}

.tb-button {
    padding: 5px;
}

.menu-label {
    margin-left: 10px;
}

.menu-item {
    padding: 5px 10px;
}

.active-verse {
    background-color: yellow;
    transition: background-color 500ms linear;
}

.sword-cross-reference {
    font-size: 0.8em;
}

.sword-cross-reference a {
    text-decoration: none;
}

.sword-footnote {
    text-decoration: none;
}

.sword-intro {
    font-style: italic;
}

/* MODULE MANAGER */

.item {
    border-bottom: 1px solid #ccc;
    padding: 12px 16px;
}

.item-left {
    width: 50px;
}

.list-selected {
    background-color: #c4e3fe;
}

.content-container {
    margin: 10px;
}

.title {
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
}

.nice-padding {
    padding: 10px;
}

/* BOOK CHAPTER SELECTOR */
.bc-item {
    /*
    padding: 5px 5px 5px 5px;

    line-height: 30px;
    text-align: center;*/
    height: 44px;
    width: 47px;
    margin: 3px;
    font-weight: bold;
    float: left;
}

.books-ot {
    background-color: #DAA520;
}

.books-nt {
    background-color: #F0E68C;
}

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* POPUPs */
.message-popup {
    text-align: center;
    padding: 10px;
}

.color-button {
    height: 30px;
    width: 30px;
    margin: 2px;
}

.color-container {
    height: 40px;
    padding-top: 5px;
}

.verse-popup {
    height: 85px;
    width: 255px;
}

.verse-popup-cell {
    width: 50%;
    text-align: center;
    padding: 5px;
}

.cell-bottom-right {
    border-left: 1px solid;
    border-color: gray;
}

.cell-top-right {
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-color: gray;
}

.cell-top-left {
    border-bottom: 1px solid;
    border-color: gray;
}

/* BIBLE TEXT STYLE */
.verse-number {
    font-weight: bold;
    text-decoration: none;
    color: #010101;
}

.caps {
    float: left;
    color: #934A15;
    font-size: 4em;
    padding-top: 4px;
    padding-right: 8px;
}

.caps-rtol {
    float: right;
    color: #934A15;
    font-size: 4em;
    padding-top: 4px;
    padding-left: 8px;
}

h3, h1 {
    font-size: 1.3em;
}

/* FONT MENU */
.font-selector {
    text-align: center;
    margin-top: 20px;
}

.font-slider {
    margin: 8px 5px;
}

.font-popup {
    width: 200px;
}

/* SETTINGS */
.settings-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.settings-item {
    padding: 5px 0;
}

.settings-row {
    padding: 5px;

}

/* NOTES */
.note-input {
    text-align: left;
}

.note-popup {
    max-width: 500px;
    max-height: 300px;
}

.note-popup a {
    color: #eee;
}

/* DATA VIEW */
.data-view-back {
    position: absolute;
    left: 0;
    margin: 8px 2px 1px;
}

.data-view-button.active {
    border: 2px solid;
    border-radius: 5px;
}

.item-text {
    font-size: 0.9em;
}

.main-toolbar {
    padding: 5px;
}

/* SMALL SCREENS */
@media all and (max-width: 800px) {
    .verse-number {
        font-weight: bold;
        font-size: 1.2em;
        line-height: .9em;
        text-decoration: none;
        color: #010101;
    }

    .note-popup {
        max-width: 300px;
        max-height: 300px;
    }

}